# Binaries
main
server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (if using vendor)
vendor/

# OS Specific
.DS_Store

# Temp
tmp/
